body {
    margin: 0;
    padding: 0;
}

#mainheader{
    margin-left:0px;
    margin-right: 0px;
    padding-left: 0px;
}

#mainheader img {
    width: 100%;
}

.nav-wrapper {
    padding-left: 22px;
    background-color: blue;    
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.row {
    margin-bottom: 5px;
}

#festivalbanner img {
    width: 100%;
}

#indexheader img{
    width: 100%;
}

#festivalsbanner img{
    width: 100%;
}

#editfestivalbanner img {
    width: 100%;
}

#profilebanner img {
    width: 100%;
    height: 650px;
}


.mobilenav {
        display: none;
}

.navelement {
    background-color: blue;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navelement a {
    color: white;
}

@media only screen and (min-width: 992px) {
    #navbartoggler {
        display: none;
    }
    .mobilenav {
        display: none;
    }
}

#button {
    margin-top:20px;
}

@media only screen and (max-width: 355px) {
    .nav-wrapper a{
        font-size: 1rem;
    }
}

