{% extends 'base.html' %} 
{% block content%}

<div class="container">
    <h1>Add a dance festival</h1>
</div>

<div class="container">
    <form action="{{ url_for('insert_festival') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">beach_access</i>
                <input id="festivalname" name="festivalname" type="text" class="validate">
                <label for="festivalname">Festival name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">today</i>
                <input id="startdate" name="startdate" type="text" class="datepicker">
                <label for="startdate">When does it start?</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">today</i>
                <input id="enddate" name="enddate" type="text" class="datepicker">
                <label for="enddate">When does it end?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">edit_location</i>
                  <input id="location" name="location" type="text" class="validate">
                  <label for="location">Location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">web</i>
                  <input id="website" name="website" type="text" class="validate">
                  <label for="website">Website</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">store</i></i>
                  <input id="tickets" name="tickets" type="text" class="validate">
                  <label for="tickets">Ticket link</label>
            </div>
        </div>
        <div class="row">
         <button class="btn waves-effect waves-light" type="submit" name="action">Add
            <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
  

{% endblock %}