<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Festivals</title>
</head>
<header>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
                <i class="fas fa-align-justify" id="navbartoggler"></i>
                <a href="{{ url_for('get_index') }}" class="brand-logo">Your festivals</a>
            <ul class="right hide-on-med-and-down" id="navigation">
                <li><a href="{{ url_for('get_index') }}">Home</a></li>
                <li><a href="{{ url_for('get_festivals') }}">View Festivals</a></li>
                <li><a href="{{ url_for('add_festival') }}">Add a festival</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="mobilenav">
        <ul class="mobilenav" id="navigation">
            <li><a href="{{ url_for('get_index') }}">Home</a></li>
            <li><a href="{{ url_for('get_festivals') }}">View Festivals</a></li>
            <li><a href="{{ url_for('add_festival') }}">Add a festival</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </div>
</header>
<body>
    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>