{% extends 'base.html' %} 
{% block content%}

<div class="container">
    <h1>Edit a festival</h1>
</div>

<div class="container">
    <form action="{{ url_for('update_festival', festival_id=festival._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">beach_access</i>
                <input id="festivalname" name="festivalname" type="text" class="validate" value="{{festival.festivalname}}">
                <label for="festivalname">Festival name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="startdate" name="startdate" type="text" class="datepicker" value="{{festival.startdate}}">
                <label for="startdate">When does it start?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="enddate" name="enddate" type="text" class="datepicker" value="{{festival.enddate}}">
                <label for="enddate">When does it end?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">edit_location</i>
                  <input id="location" name="location" type="text" class="validate" value="{{festival.location}}">
                  <label for="location">Location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">web</i>
                  <input id="website" name="website" type="text" class="validate" value="{{festival.website}}">
                  <label for="website">Website</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">store</i>
                  <input id="tickets" name="tickets" type="text" class="validate" value="{{festival.tickets}}">
                  <label for="tickets">Ticket link</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">add_to_photos</i>
                <input id="image" name="image" type="text" class="validate" value="{{festival.image}}">
                <label for="image">Image link</label>
            </div>
        </div>
        <div class="row">
         <button class="btn waves-effect waves-light" type="submit" name="action">Confirm changes
            <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
  

{% endblock %}