{% extends 'base.html' %}
{% block content%}

<div class="container">
    <h1>The festivals our users have added</h1>
    <p>Is the info incorrect? Please edit the festival!</p>
</div>

<div class="container">
    <div class="row">
        {% for festivals in festivals %}
        <div class="row col s12 m12 intro">
           <h2>{{festivals.festivalname}}</h2>
        </div>
        <div class="row col s12 m6 l6" id="festivalinfo">
            <h3>Start date: {{festivals.startdate}}</h3>
        </div>
        <div class="row col s12 m6 l6" id="festivalinfo">
            <h3>End date: {{festivals.enddate}}</h3>
        </div>
        <div class="row col s12 m6 l6" id="festivalinfo">
            {{festivals.location}}
        </div>
        <div class="row col s12 m6 l6" id="festivalinfo">
            <a href="{{festivals.website}}" target="_blank">Main festival website</a>
        </div>
        <div class="row col s12 m6 l6" id="festivalinfo">
            <a href="{{festivals.tickets}}" target="_blank">tickets</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}