{% extends 'base.html' %} 
{% block content%}

<div class="container">
    <h1>Welcome to your festivals!</h1>
</div>

<div class="container">
    <p>Here at your festivals we believe that you should be able to add a festival to the festival list and be in full control. As we are very keen on EDM we aim at adding the best dance festivals in the 
    world. We already now about the big headliners and we have added these to the overview. However we want to know about the smaller ones as well.</p>
    <p>So if you want to let this growing community know about that very cool festival in you hometown or near you just <a href="{{url_for('add_festival')}}">add</a> it.</p>
    <p>We are very curious to see what you guys will be adding. If you are missing info or you think we should do things differently then please send us a message.</p>
</div>

{% endblock %}