{% extends 'base.html' %} 
{% block content%}

<div class="container">
    <h1>Welcome to your festivals!</h1>
</div>

<div class="container">
    <p>Here at your festivals we believe that you should be in control of festival info. We have added some festivals we feel are worth to attend but if there is one which is not yet listed you can easily
    add this to the festival list by using <a href="{{ url_for('add_festival') }}">add festival.</a></p>
    We are very curious to see what you guys will be adding. If you are missing info or you think we should do things differently then please send us a message.
</div>

{% endblock %}