{% extends 'base.html' %}
{% block content%}

<div class="row" id="memberbanner">
    <img src="static/images/festivals-image.jpg">
</div>

<div class="container">
    <h1>Welcome to your profile page</h1>
</div>

<div class="container">
    <div class="row">
        {% for members in members %}
        <h2>Not {{members.username}}</h2>
        <div class="row col s12 m12 l12 xl12 intro" id="username">
           <h2>Username</h2>
           {{ members.username }}
           <hr>
        </div>
        <div class="row col s12 m12 l12 xl6" id="userfirstname">
            <h3>Fist name</h3>
            {{ members.firstname }}
        </div>
        <div class="row col s6 m6 l6 xl3" id="userlastname">
            <h3>Last Name</h3> 
            {{ members.lastname }}
        </div>
        <div class="row col s6 m6 l6 xl3" id="useremail">
            <h3>Email</h3>
            {{members.email}}
        </div>
        <div class="row col s12 m12 l12 xl6" id="usercountry">
            <h3>Country</h3>
            {{members.country}}
        </div>
        <div class="row col s12 m12 l12 xl6" id="usercountry">
            <h3>City</h3>
            {{members.city}}
        </div>
        <div class="row col s12 m12 l12 xl6" id="usercountry">
            <h3>Birthday</h3>
            {{members.birthdate}}
        </div>
        <div class="row col s12 m6 l6 xl6 offset-xl6" id="button">
            
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}