{% extends 'base.html' %}
{% block content%}

<div class="row" id="profilebanner">
    <img src="static/images/profile-festival-image.jpeg">
</div>
<div class="container">
    <h1>Please register here</h1>
</div>
<div class="container">
    <form action="{{ url_for('add_member') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment_ind</i>
                <input id="username" name="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input id="password" name="password" type="password" class="validate">
                <label for="password">Enter a password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="firstname" name="firstname" type="text" class="validate">
                <label for="firstname">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="lastname" name="lastname" type="text" class="validate">
                <label for="lastname">Last Name</label>
            </div>
        </div>
        <div class="row">  
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" name="email" type="text" class="validate">
                <label for="email">Enter your emailaddress</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">flag</i>
                  <input id="country" name="country" type="text" class="validate">
                  <label for="country">In which country do you live?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">location_city</i>
                  <input id="city" name="city" type="text" class="validate">
                  <label for="city">In which city do you live?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">date_range</i>
                <input id="birthdate" name="birthdate" type="text" class="datepicker">
                <label for="birthdate">When is your birthday?</label>
            </div>
        </div>
        <div class="row">
         <button class="btn waves-effect waves-light" type="submit" name="action">Register<i class="material-icons right">play_arrow</i>
            </button>
        </div>
    </form>
</div>

<div class="container">
    <p>Already have an account? Login <a href="{{ url_for('login') }}">here</a></p>
</div>

{% endblock %}